<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_flower_root"
              name="Flower"
              sequence="10"/>

    <menuitem id="menu_flowers_operations"
              name="Flowers Operations"
              parent="menu_flower_root"
              sequence="10"/>

</odoo>